
@{
    ViewData["Title"] = "Index";
}


<style>
    .card-group {
        display: flex;
        flex-wrap: wrap;
       
    }

    .card {
        
       
        min-width:200px;
    }

    .card-img-top {
       
        
    }
</style>

<h1>景點</h1>


<div class="card-group"></div>





@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        const spotsJson = spots.CommonFormat.Section;
        const htmlspots = spotsJson.map((spot) => {
            const { xbody, file, stitle } = spot;
            //console.log(spot)
            const imageHtml = file.img.length > 0 ? file.img[0].text : file.img.text;

            return (
                `<div class= "card">
                         <img class="card-img-top object-fit-cover" src = "${imageHtml}" alt = "Card image cap" >
                 <div class="card-body" >
                 <h5 class="card-title" > ${ stitle } </h5>
                 <p class="card-text"> ${xbody } </p>
                 </div>
                </div>
                `

            )
        });
        const bd = document.querySelector(".card-group");
        bd.innerHTML = htmlspots.join("")
      
    </script>

}