@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section  Scripts{
@*     <script>
        fetch('/getp/GETP')
            .then(res=>res.text())
            .then(data => console.log(data));
    </script> *@
}
